* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #180631;
}

header {
    background-color: yellow;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #f7bfe6;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background: url('https://s.aficionados.com.br/imagens/esta-e-a-ordem-correta-dos-livros-do-universo-harry-potter_f.jpg') no-repeat center center/cover;
    color: #fff;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 7px 17px;
    background-color: #a90062ac;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #052254;
}

.salas {
    padding: 20px;
    background-color: #180631;
}

.salas h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

.sala {
    background-color: #1079b29c;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
}

.sala img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sobre {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sobre h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contato {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.contato h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 16px;
}

form button {
    align-self: center;
    padding: 10px 20px;
    background-color: #ff00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #9200b3;
}

footer {
    background-color: #180631;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 3px 0;
}

footer a {
    color: #ff0090;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.bit {
    color: #f7bfe6;
    font-size: 22px;
}
iframe {
    width: 1270px;
    height: 720px;
}
.nrg {
    color: #f7bfe6;;
    font-size: 13px;
}
.rt {
    font-style: italic;
    color: #f7bfe6;
    text-align: center;
    font-size: 22px;
}
